<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
</head>
<body>
    <form action="{% url 'register' %}" method="post">
        <h2 style="...">用户名</h2>
        <input type="text" name="username" required="true"
               placeholder="username"/>
        <h2 style="...">密码</h2>
        <input type="password" name="password" required="true" id="pwd"
               onblur="detectLength()" placeholder="password"/>
        <p id="msg"></p> <!-- to hold a message -->
        Your sexy:
        <select name="sex">
            <option value="male">Male</option>
            <option value="female">Female</option>
        </select>
        <h2 style="...">常用邮箱</h2>
        <input type="email" name="email" required="true"
               placeholder="your email"/>
        <br>
        Your Identity:
        <select name="identity">
            <option value="doctor">doctor</option>
            <option value="family">family</option>
        </select>
        <br>
        <input type="submit" value="submit" id="submit">
    </form>
    <script type="text/javascript">
        function detectLength() {
            var pwd = document.getElementById('pwd').value;
            console.log(pwd);
            if(pwd.length < 6) {
              document.getElementById('submit').disabled = true;
              document.getElementById('msg').textContent = "need more " +
                "characters";
            } else {
              document.getElementById('msg').textContent = "";
            }
            event.preventDefault();
            return false;
        }
    </script>
</body>
</html>
